body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h1, h2, h3 {
    color: #337ab7;
    margin-bottom: 10px;
}

p, li {
    line-height: 1.6;
}

/* Стили для изображений: обрезка и круглая форма */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Стили для раздела Skills */
.skills {
    list-style: disc inside;
    margin-top: 0;
    padding-left: 0;
}
.skills li {
    margin-bottom: 2px;  /* Ещё меньший отступ между пунктами */
    line-height: 1.1;    /* Ещё меньшее межстрочное расстояние */
}