body {
    font-family: "Fira Code", Consolas, monospace;
    background-color: #2e3440;
    color: #d8dee9;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    background-color: #3b4252;
    padding: 20px;
    border-radius: 8px;
}
h1, h2, h3 {
    color: #88c0d0;
    margin-bottom: 10px;
}
p, li {
    line-height: 1.6;
}
a {
    color: #81a1c1;
}
code, pre {
    background-color: #434c5e;
    color: #eceff4;
    font-family: "Fira Code", Consolas, monospace;
    padding: 4px 6px;
    border-radius: 4px;
}
ul.skills li {
    margin-bottom: 2px;
    line-height: 1.1;
    list-style: disc inside;
}
/* Правило для всех изображений */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}